.cwpv-form-section {
	background: #777;
	border-radius: 4px;
	margin: 1rem 0;
	padding: 0.5rem;
}

.cwpv-form-section p {
	margin-left: 1%;
	margin-right: 1%;
}

.cwpv-form-section p.inline-half {
	width: 48%;
	display: inline-block;
	vertical-align: top;
}


.cwpv-form-section label {
	color: #ddd;
	font-weight: bold;
	font-size: 1rem;
}

.cwpv-form-section select,
.cwpv-form-section input[type=text] {
	color: #555;
	font-size: 1.1rem;
	height: 40px;
	line-height: 40px;
	padding: 0 0.5rem;
}

.cwpv-form-section input[type=text] {
	width: 80%;
}

.cwpv-form-section textarea {
	width: 80%;
	font-size: 1.1rem;
	min-height: 4rem;
}
.cwpv-form-section .helper-text {
	color: #fff;
}
