.variety-data td {
	padding: 0.25rem 0.25rem;
	vertical-align: top;
}

.variety-data td.variety-title {
	font-weight: bold;
	font-size: 1.5rem;
	border-bottom: 1px solid #ccc;
	color: #981e33;
}

.variety-data td.label {
	font-weight: bold;
}

.variety-data td.data {
	color: #333;
}